body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px;
}

.geo-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.at-a-glance {
    display: flex;
    align-items: center;
}

.main-temp {
    font-size: 2rem;
}

h2 {
    padding: 0;
    margin: 0;
}

.geocode {
    margin: 0;
    padding: 0;
    color: gray;
    font-size: 0.8rem;
}